*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background: hsl(185, 75%, 39%);
    font-size: 1.125rem;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    border-radius: 20px;
}

.hero-section {
    img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        border-radius: 100%;
        border: 6px solid white;
        margin-top: -3em;
    }
}

.information {
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    span {
        font-weight: 300;
        font-size: 1.2rem;
    }
}

.location {
    p {
        margin-top: 0;
    }
}

.footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgrey;
    padding: 1em 0;
    .value {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3, p {
            margin: 0.2em;
        }
    }
}
